{% extends 'QafooTimePlannerBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>
            Jobs
            <form class="form-inline pull-right" onchange="this.submit()">
                <div class="form-group">
                    <select name="month" class="form-control">
                    {% for month in range(1, 12) %}
                        <option {% if month == view.month %}selected{% endif %} value="{{month}}">
                            {{("2015-" ~ month)|date("F")}}
                        </option>
                    {% endfor %}
                    </select>
                    <select name="year" class="form-control">
                    {% for year in range(2010, 2020) %}
                        <option {% if year == view.year %}selected{% endif %} value="{{year}}">
                            {{year}}
                        </option>
                    {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </h2>
            <input type="hidden" name="year" value="{{view.year}}">
            <input type="hidden" name="month" value="{{view.month}}">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>{{"Customer"|trans()}}</th>
                        <th>{{"Project"|trans()}}</th>
                        <th>{{"Revenue"|trans()}}</th>
                        <th>{{"Min. PT"|trans()}}</th>
                        <th>{{"Max. PT"|trans()}}</th>
                        <th>{{"Assignments"|trans()}}</th>
                        <th>{{"Open"|trans()}}</th>
                        <th>{{"Invoice"|trans()}}</th>
                        <th>{{"Comment"|trans()}}</th>
                        <th>{{"Options"|trans()}}</th>
                    </tr>
                </thead>
                <tbody>
                {% for job in view.jobs %}
                    <tr>
                        <td>{{job.customer}}</td>
                        <td>{{job.project}}</td>
                        <td>{{job.expectedRevenue}}</td>
                        <td>{{job.personDays.minimum}}</td>
                        <td>{{job.personDays.maximum}}</td>
                        <td></td>
                        <td></td>
                        <td>{{job.invoiceId}}</td>
                        <td>{{job.comment}}</td>
                        <td class="text-right">
                            <form class="form-inline" method="POST" action="{{ path("qafoo.time_planner.time_planning.delete", {job: job.jobId}) }}" onsubmit="return confirm('Really remove i{{job.project}} for {{job.customer}}?');">
                                <div class="btn-group btn-group-xs" role="group" aria-label="Operations">
                                    <a class="btn btn-default" href="{{ path("qafoo.time_planner.time_planning.edit", {job: job.jobId}) }}" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-label="Edit"></span>
                                    </a>
                                    <button class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove" aria-label="Remove"></span>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <form method="POST" class="form-inline" action="{{path("qafoo.time_planner.time_planning.create")}}">
                            <td><input type="text" class="form-control input-sm" required name="customer" placeholder="{{"Customer"|trans()}}"></td>
                            <td><input type="text" class="form-control input-sm" required name="project" placeholder="{{"Project"|trans()}}"></td>
                            <td><input type="text" class="form-control input-sm" required name="revenue" placeholder="{{"Revenue"|trans()}}"></td>
                            <td><input type="text" class="form-control input-sm" required name="pt.min" placeholder="{{"Min. PT"|trans()}}"></td>
                            <td><input type="text" class="form-control input-sm" required name="pt.max" placeholder="{{"Max. PT"|trans()}}"></td>
                            <td colspan="4"><input type="text" class="form-control input-sm" name="comment" placeholder="{{"Comment"|trans()}}"></td>
                            <td class="text-right">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-save" aria-label="Store"></span>
                                </button>
                            </td>
                        </form>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Sum</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="2">Result</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
    </div>
</div>
{% endblock %}
