<tr {% if highlight == job.jobId %}class="info"{% endif %}>
{% set assignedDays = 0 %}
{% for assignment in job.assignees %}
    {% set assignedDays = assignedDays + assignment.days %}
{% endfor %}
    <td>
        {{job.customer}}
        <a class="hover-link" href="{{ path("qafoo.time_planner.time_planning.overview", {year: job.month|date("Y"), month: job.month|date("n"), highlight: job.jobId}) }}">
            <span class="glyphicon glyphicon-link"></span>
        </a>
    </td>
    <td>{{job.project}}</td>
    <td class="number {% if not job.calculatedRevenue %}text-muted{% endif %}">
        <abbr title="{{job.expectedRevenue}}">{{job.calculatedRevenue|number_format(2)}} €</abbr>
    </td>
    <td class="number {% if assignedDays < job.personDays.minimum %}danger{% endif %}"">{{assignedDays}} / {{job.personDays.minimum}}</td>
    <td class="number {% if assignedDays < job.personDays.maximum %}warning{% endif %}">{{assignedDays}} / {{job.personDays.maximum}}</td>
{% for user in view.users %}
    <td {% if user.login == view.user.login %}class="active"{% endif %}>
        <form class="form-inline" method="POST" action="{{ path("qafoo.time_planner.time_planning.assign", {job: job.jobId}) }}">
            <input type="hidden" name="revision" value="{{job.revision}}">
            <input type="text" class="form-control assignment number input-sm {% if not job.assignees[user.login].days %}text-muted{% endif %}"
                name="assignees[{{user.login}}]"
                value="{{job.assignees[user.login].days|default(0)}}">
        </form>
    </td>
{% endfor %}
    <td class="{% if job.overdue %}danger{% endif %}">
        <form class="form-inline" method="POST" action="{{ path("qafoo.time_planner.time_planning.assign_invoice", {job: job.jobId}) }}">
            <input type="hidden" name="revision" value="{{job.revision}}">
            <input type="text" class="form-control assignment number input-sm"
                name="invoiceId"
                value="{{job.invoiceId}}">
        </form>
    </td>
    <td>{{job.comment}}</td>
    <td class="number">
        <form class="form-inline" method="POST" action="{{ path("qafoo.time_planner.time_planning.delete", {job: job.jobId}) }}" onsubmit="return confirm('Really remove {{job.project}} for {{job.customer}}?');">
            <input type="hidden" name="year" value="{{view.year}}">
            <input type="hidden" name="month" value="{{view.month}}">
            <input type="hidden" name="revision" value="{{job.revision}}">
            <div class="btn-group btn-group-xs" role="group" aria-label="Operations">
                <a class="btn btn-default" href="{{ path("qafoo.time_planner.time_planning.edit", {job: job.jobId}) }}" title="Edit">
                    <span class="glyphicon glyphicon-pencil" aria-label="Edit"></span>
                </a>
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-label="Remove"></span>
                </button>
            </div>
        </form>
    </td>
</tr>

