<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Qafoo Time Planner{% endblock %}</title>

        {% block css %}
            <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="/styles/timeplanner.css" rel="stylesheet">
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="icon" type="image/png" href="/images/favicon.png" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" width="24" height="24" alt="Time Planner" title="Time Planner">
                        Time Planner
                    </a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block navigation %}
                            <li {% if "qafoo.time_planner.vacation." in app.request.attributes.get('_route') %}class="active"{% endif %}>
                                <a href="{{ path("qafoo.time_planner.vacation.overview") }}">
                                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Vacation
                                </a>
                            </li>
                            <li {% if "qafoo.time_planner.public_holiday." in app.request.attributes.get('_route') %}class="active"{% endif %}>
                                <a href="{{ path("qafoo.time_planner.public_holiday.overview") }}">
                                    <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Public Holidays
                                </a>
                            </li>
                            <li {% if "qafoo.time_planner.time_planning." in app.request.attributes.get('_route') %}class="active"{% endif %}>
                                <a href="{{ path("qafoo.time_planner.time_planning.overview") }}">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Time Planning
                                </a>
                            </li>
                        {% endblock %}
                    </ul>

                    {% if app.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path("fos_user_security_logout") }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Logout
                                </a></li>
                                <li><a href="{{ path("fos_user_profile_edit") }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
                Dummy template – to be overwritten by application.
            {% endblock %}
        </div>

        {% block scripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="/vendor/jquery/js/jquery-1.11.2.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
