{% extends "FOSUserBundle::profile.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block profile_content %}
<h2>Change Password</h2>

{% if error %}
    <div class="alert alert-warning">{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_change_password") }}" method="post">
    <div class="form-group">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control' } }) }}
        {{ form_errors(form.current_password) }}
    </div>
    <div class="form-group">
        {{ form_label(form.new.first) }}
        {{ form_widget(form.new.first, { 'attr': {'class': 'form-control' } }) }}
        {{ form_errors(form.new.first) }}
        {{ form_label(form.new.second) }}
        {{ form_widget(form.new.second, { 'attr': {'class': 'form-control' } }) }}
        {{ form_errors(form.new.second) }}
    </div>
    {{ form_rest(form) }}

    <div class="row">
        <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
        </div>
    </div>
</form>
{% endblock profile_content %}
