{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block navigation %}
{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-warning">{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="username">{{ 'form.username'|trans }}</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group">
        <label for="password">{{ 'form.password'|trans }}</label>
        <input type="password" class="form-control" id="password" name="_password" required="required" />
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </label>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
        </div>
        <div class="col-md-6 text-center">
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }}</a>
        </div>
    </div>
</form>
{% endblock fos_user_content %}
