{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block navigation %}
{% endblock %}

{% block fos_user_content %}
<h2>Reset password</h2>

{% if invalid_username is defined %}
<div class="alert alert-danger">
    <strong>Error</strong> {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
</div>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" id="username" name="username" required="required" type="text" />
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'resetting.request.submit'|trans }}</button>
        </div>
    </div>
</form>
{% endblock fos_user_content %}
