{% extends 'QafooTimePlannerBundle::layout.html.twig' %}

{% block content %}
<form action="{{ path("qafoo.time_planner.vacation.store", {vacation: view.vacation.vacationId}) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="start">{{ 'Vacation start'|trans }}</label>
        <input type="date" class="form-control" id="start" name="start" value="{{ view.vacation.start|date("Y-m-d") }}" required="required" />
    </div>
    <div class="form-group">
        <label for="end">{{ 'Vacation end'|trans }}</label>
        <input type="date" class="form-control" id="end" name="end" value="{{ view.vacation.end|date("Y-m-d") }}" required="required" />
    </div>
    <div class="form-group">
        <label for="end">{{ 'User'|trans }}</label>
        <select class="form-control" id="user" name="user">
        {% for user in view.users %}
            <option {% if user.login == view.user.login %}selected{% endif %} value="{{user.login}}">{{user.login}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="comment">{{ 'Comment'|trans }}</label>
        <input type="text" class="form-control" id="comment" name="comment" value="{{ view.vacation.comment }}" />
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'Store'|trans }}</button>
        </div>
    </div>
</form>
{% endblock %}
