{% extends 'QafooTimePlannerBundle::layout.html.twig' %}

{% block content %}
<div class="well">
    Hello {{view.user.login}}, you have {{view.remainingVacation}} days of vacation left this year.
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Upcoming Vacations</h2>

        <ul class="nav nav-tabs" role="tablist">
        {% for year in view.years %}
            <li role="presentation" {% if year == view.year %}class="active"{% endif %}>
                <a href="{{path("qafoo.time_planner.vacation.overview", {year: year})}}" role="tab">{{year}}</a>
            </li>
        {% endfor %}
        </ul>

        <ul class="vacations">
        {% for vacation in view.vacations %}
            {% include "QafooTimePlannerBundle:Vacation:listItem.html.twig" with {vacation: vacation} %}
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Add vacation</h2>
        {{render(controller('QafooTimePlannerBundle:Vacation:edit'))}}
    </div>
</div>
{% endblock %}
