<li>
    <form class="form-inline" method="POST" action="{{ path("qafoo.time_planner.vacation.delete", {vacation: vacation.vacationId}) }}" onsubmit="return confirm('Really remove vacation?');">
        <strong>{{vacation.start|date("d. F")}} to {{vacation.end|date("d. F")}}</strong> by {{vacation.user.username}}

        <div class="btn-group btn-group-xs" role="group" aria-label="Operations">
            <a class="btn btn-default" href="{{ path("qafoo.time_planner.vacation.edit", {vacation: vacation.vacationId}) }}" title="Edit">
                <span class="glyphicon glyphicon-pencil" aria-label="Edit"></span>
            </a>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-label="Remove"></span>
            </button>
        </div>

        {% if vacation.comment %}
            <p class="comment">{{vacation.comment}}</p>
        {% endif %}
    </form>
</li>
