<tr {% if vacation.user.login == view.user.login %}class="info"{% endif %}>
    <td>
        <strong>
            {{vacation.start|date("d. F")}}
            {% if vacation.end != vacation.start %}
                to {{vacation.end|date("d. F")}}
            {% endif %}
        </strong>
    </td>
    <td>{% include "QafooUserBundle:User:normal.html.twig" with {user: vacation.user} %}</td>
    <td><p class="comment">{{vacation.comment}}</p></td>
    <td class="text-right">
        <form class="form-inline" method="POST" action="{{ path("qafoo.time_planner.vacation.delete", {vacation: vacation.vacationId}) }}" onsubmit="return confirm('Really remove vacation?');">

            <div class="btn-group btn-group-xs" role="group" aria-label="Operations">
                <a class="btn btn-default" href="{{ path("qafoo.time_planner.vacation.edit", {vacation: vacation.vacationId}) }}" title="Edit">
                    <span class="glyphicon glyphicon-pencil" aria-label="Edit"></span>
                </a>
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-label="Remove"></span>
                </button>
            </div>

        </form>
    </td>
</tr>
