{% extends 'QafooTimePlannerBundle::layout.html.twig' %}

{% block content %}
{% include "QafooTimePlannerBundle:Vacation:remaining.html.twig" with {user: view.user, year: "now"|date("Y"), remaining: view.remainingVacation} %}
<h2>Last Edits</h2>
<p>Last update: {{"now"|date("j. F Y – H:i")}}</p>
<div class="row">
    <div class="col-md-6">
        <h3>Time Planning</h3>
        <ul class="list-unstyled">
        {% for job in view.jobs %}
            <li>
                <p>
                    {{job.month|date("F, Y")}} –
                    <a href="{{ path("qafoo.time_planner.time_planning.overview", {year: job.month|date("Y"), month: job.month|date("n"), highlight: job.jobId}) }}">
                        {{job.customer}}: {{job.project}}
                    </a>
                </p>
                <p><em>
                    Edited by {% include "QafooUserBundle:User:normal.html.twig" with {user: job.metaData.author} %}
                    <abbr class="fromNow" data-time="{{job.metaData.changed|date("Y-m-d H:i:sO")}}" title="{{job.metaData.changed|date("j. F Y – H:i")}}">{{job.metaData.changed|date("j. F Y – H:i")}}</abbr>
                </em></p>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Vacations</h3>
        <ul class="list-unstyled">
        {% for vacation in view.vacations %}
            <li>
                <p>
                    <a href="{{ path("qafoo.time_planner.vacation.overview", {year: vacation.end|date("Y"), highlight: vacation.vacationId}) }}">
                        {{vacation.start|date("d. F")}}
                        {% if vacation.end != vacation.start %}
                            to {{vacation.end|date("d. F")}}
                        {% endif %}
                    </a>
                    by {% include "QafooUserBundle:User:normal.html.twig" with {user: vacation.user} %}
                </p>
                <p><em>
                    Edited by {% include "QafooUserBundle:User:normal.html.twig" with {user: vacation.metaData.author} %}
                    <abbr class="fromNow" data-time="{{vacation.metaData.changed|date("Y-m-d H:i:sO")}}" title="{{vacation.metaData.changed|date("j. F Y – H:i")}}">{{vacation.metaData.changed|date("j. F Y – H:i")}}</abbr>
                </em></p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
setTimeout(function() {
   window.location.reload(1);
},  5 * 60 * 1000);
</script>
{% endblock %}

{% block scripts %}
    {{parent()}}
    <script src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript">
    $(".fromNow").each(function() {
        var time = moment($(this).data("time")),
            old = moment().startOf("day");
        $(this).text(time.fromNow());
        if (time.isBefore(old)) {
            $(this).parents("li").addClass("text-muted");
        }
    });
    </script>
{% endblock %}
