{% extends 'QafooTimePlannerBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Vacations</h2>

        <ul class="nav nav-tabs" role="tablist">
        {% for year in view.years %}
            <li role="presentation" {% if year == view.year %}class="active"{% endif %}>
                <a href="{{path("qafoo.time_planner.vacation.overview", {year: year})}}" role="tab">{{year}}</a>
            </li>
        {% endfor %}
        </ul>

        <table class="table table-striped table-hover table-condensed">
        {% for vacation in view.vacations %}
            {% include "QafooTimePlannerBundle:Vacation:tableRow.html.twig" with {vacation: vacation, highlight: view.highlight} %}
        {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h2>Available Days</h2>
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr {% if remaining.user.login == view.user.login %}class="active"{% endif %}>
                    <th>User</th>
                    <th>Booked</th>
                    <th>Remaining</th>
                </tr>
            <thead>
            <tbody>
            {% for remaining in view.remainingVacation %}
                <tr {% if remaining.user.login == view.user.login %}class="active"{% endif %}>
                    <td>{% include "QafooUserBundle:User:normal.html.twig" with {user: remaining.user} %}</td>
                    <td class="number">{{remaining.booked|length()}} / {{remaining.available}}</td>
                    <td class="number"><strong>{{remaining.remainingDays}}</strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Add vacation</h2>
        {{render(controller('QafooTimePlannerBundle:Vacation:edit'))}}
    </div>
</div>
{% endblock %}
